

body {
  color: gray;
  align: center;
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  color: black;
}

.img {
  align: center;
  margin: 100px auto;
  display: block;
  border: 100px;
  width: 25%;

  
}

.button {
  align: center;
  padding: 100px 100px;
  border-radius: 50px;
  border-color: black;
  color: white;

}
  
